body {
  font-family: 'Arial';
  background-color: #121212;
  font-size: 1rem;
  color: #fff;
}
header {
  background-color: #3d3d3d;
  padding: 1.5rem;
  border-bottom: 1rem solid #272727;
}
header h1 {
  text-align: center;
  color: #00faff;
  font-family: 'Goldman', cursive;
  font-size: 3rem;
  margin:0;
}
.dos-columnas {
  display: grid;
  gap: 4rem;
}
@media (min-width: 768px) {
  .dos-columnas {
    grid-template-columns: repeat(2, 1fr);
  }
}
main {
  margin: 4rem auto;
  max-width: 1200px;
}
.contenedor {
  margin: 0 auto 2rem auto;
  border-radius: .5rem;
  background-color: #303030;
  padding: 4rem;
  width: 87%;
}


form {
  width: 100%;
}
.campo {
  max-width: 400px;
  margin: 0 auto 1rem auto;
}
.campo label {
  display: block;

}
.campo input,
.campo select {
  all: unset;
  border: 1px solid #cbd5e1;
  width: 100%;
  border-radius: 1rem;
  padding: .5rem;
}

 input[type="submit"] {
  background-color: #000000;
  margin: 2rem auto 0 auto;
  display: block;
  padding: 1rem 3rem;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  border: none;
  width: 100%;
  transition: background-color .3s ease;

}
@media (min-width: 768px) {
   input[type="submit"]  {
     max-width: 400px;
  }
}
 input[type="submit"]:hover {
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
}


.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #00faff;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

.clima{
  text-align: center;
}

.clima > p:first-of-type{
  font-size: 6rem;
  font-weight: 900;
}

.clima p,
h2{
  text-align: center;
  margin: 0;
}

.clima p span{
  font-size: 1rem;
}

.temp_min_max{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}